<%= form_for(@designatory) do |f| %>
  <div class="col-md-8">
    
    <div class="form-group required">
    <%= f.label :designator, class:"control-label" %>
    <%= f.text_field :designator, class:"form-control" %>
    </div>

    <div class="form-group">
    <%= f.label :description, class:"control-label" %>
    <%= f.text_field :description, class:"form-control" %>   
    </div>
    
    <div class="form-group">
    <%= f.submit class:"btn btn-primary" %>
    </div>
  </div> 
<% end %>