<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "Courses Management Application", root_path, class:"navbar-brand" %>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav pull-right">
        <li>
          <%= link_to "Home", root_url %>
        </li>
        <li>
          <%= link_to "Courses", courses_url %>
        </li>
        <li>
          <%= link_to "Tutors", tutors_url %>
        </li>
        <li>
          <%= link_to "Languages", languages_url %>
        </li>
        <li>
          <%= link_to "Designatories", designatories_url %>
        </li>
        <li>
          <%= link_to "Skillset", skillsets_url %>
        </li>
        <li>
          <%= link_to "Contact", contact_url %>
        </li>
      </ul>
    </nav>
  </div>
</header>